.App {
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
}

.Main-content {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: calc(24px + 2vmin);
  background-color: var(--color-highlight);
  height: 5rem;
  width: 80%;
  align-items: center;
}

.Question {
  width: 80%;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
