body {
  margin: 0;
  font-family: 'TAYBenditos', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TAYBenditos';
  src: url('./fonts/TAYBenditos.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}